:host {
  footer {
    background-color: var(--ds-footer-bg);
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);

    p {
      margin: 0;
    }

    .top-footer {
      background-color: var(--ds-top-footer-bg);
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
      .institution-logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(100%);
        opacity: 0.6;
        max-height: 225px;
      }
      .institution-logo:hover {
        filter: none;
        opacity: 1;
      }
    }

    .bottom-footer {
      margin-top: 20px;
      .footer__social {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .footer__links {
        margin: 0;
        padding: 0;
        list-style: none;
        a {
          color: var(--ds-bottom-footer-link-color);
        }
        a:hover {
          color: var(--ds-bottom-footer-link-color-hover);
          text-decoration: underline;
        }
      }
    }
  }
}
