.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  color: #7f53ac;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
